<template>
  <div class="text">
    <h2>{{ greating }}</h2>
    <h2>{{ sayHi }}</h2>
    <p><button @click="newGreeting1">Regular function</button></p>
    <p><button @click="newGreeting2">Anonymous function</button></p>
    <p><button @click="newGreeting3">Arrow function</button></p>
    <p><input type="text" @input="setFirstName"></p>
  </div>
</template>

<script>
import { ref,computed } from "vue";
export default {
  setup() {
    const greating = ref("Hello World");
        const user = ref({ firstName: '', lastName: '' })

        const setFirstName = ($event) => {
            user.value.firstName = $event.target.value
        }

        const sayHi = computed(() => {
            return 'Hi ' + user.value.firstName
        })

    function newGreeting1() {
        greating.value = "Hi PK";
    }
    const newGreeting2 = function () {
        greating.value = "Hi PP";
    }
    const newGreeting3 = ()=> {
        greating.value = "Hi P K"
    }
    return { greating, newGreeting1, newGreeting2,newGreeting3,setFirstName,sayHi};
  },
};
</script>

<style scoped>
.text {
  text-align: center;
}
</style>