<template>
  <div class="text">
    <router-link :to="{name: 'home'}">Home</router-link>  |
    <router-link :to="{name: 'about'}">About</router-link>  |
    <router-link :to="{name: 'OptionAPI'}">Opition API</router-link>  |
    <router-link :to="{name: 'CompositionAPI'}">Composition API</router-link>  |
    <router-link :to="{name: 'Reactive'}">Reactive</router-link>  |
    <router-link :to="{name: 'Twoway'}">TwoWay</router-link>  |
  </div>
  <router-view />
</template>

<script setup>

</script>

<style scoped>
.router-link-exact-active{
  color: cyan;
  text-decoration: none;
}
.text{
  text-align: center;
}
</style>